<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="bg-gray-100">
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href='/' class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

                <span class="ml-3 font-semibold text-purple-700 text-5xl">JustDefine</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
                <a href='/' class="mr-5 hover:text-gray-900 font-semibold ">Home</a>
                <a href='/about' class="mr-5 hover:text-gray-900 font-semibold">About</a>
                <a href='/contact' class="mr-5 hover:text-gray-900 font-semibold">Contact</a>
            </nav>

        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto mt-8 px-4">
        <img src="/static/logo.gif" alt="Profile" class="w-32 h-32 rounded-full mx-auto mb-4">
        <div class="shadow-2xl p-4">
            <h1 class="text-3xl font-semibold mb-2">About Me</h1>
            <p class="text-lg text-gray-600">
                Hey there, I'm a just another Coder! 🚀 As someone who thrives on lines of code and
                embraces the syntax like a warm hug, I am your friendly neighborhood
                programmer. Passionate about coding, I create digital wonders that
                turn caffeine into software.
            </p>
            <p class="text-lg text-gray-600 mt-4">
                I embarked on the journey of this dictionary project as a "fun" endeavor.
                Because what's more fun than taming databases and wrangling APIs, right?
                But beneath the fun, it's been an exciting opportunity to level up my web
                development skills and put theory into practice.
            </p>
            <p class="text-lg text-gray-600 mt-4">
                As my college reopening looms and the walls of boredom close in, you'll
                find me here, refining code, seeking inspiration, and sipping on cups of
                digital caffeine. Join me in unraveling the mysteries of coding and
                turning lines into memorable experiences!
            </p>
        </div>
    </main>

    <!-- Sticky Footer -->
    <footer class=" bottom-0  bg-gray-900 text-white py-6 w-full">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Coder. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>