<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    </style>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .custom-heading {
            font-size: 56px !important;
            font-family: "MongoDB Value Serif", monospace;
        }
    </style>
</head>

<body class="bg-white flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-3xl bg-purple-100 font-semibold mb-4 my-10">"Oops! Looks like your word took a detour to Narnia
            and
            got
            lost in
            translation. Try a word from this century, perhaps?"</h1>
        <img src="/static/error.png" alt="Illustration" class="mx-auto mb-8 w-1/2">
        <!-- <p class="text-lg text-gray-600">We apologize for the inconvenience. Please try again later.</p> -->
    </div>
</body>

</html>