<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    </style>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .custom-heading {
            font-size: 56px !important;
            font-family: "MongoDB Value Serif", monospace;
        }
    </style>
</head>

<body class="bg-white flex items-center justify-center h-screen">
    <div class="text-center">
        <h1 class="text-2xl bg-purple-100 font-semibold mb-4 my-10">"Oops! Looks like your word took a detour to Narnia
            and
            got
            lost in
            translation. Try a word from this century, perhaps?"</h1>
        <img src="/static/error.png" alt="Illustration" class="mx-auto mb-8 w-2/3">

    </div>
</body>

</html>