<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyDefine</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    </style>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .custom-heading {
            font-size: 41px !important;
            font-family: "MongoDB Value Serif", monospace;
        }
    </style>
</head>

<body class="bg-purple-100">

    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href='/' class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

                <span class="ml-3 font-semibold text-purple-700 text-5xl">EasyDefine</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
                <a href='/' class="mr-5 hover:text-gray-900 font-semibold ">Home</a>
                <a href='/about' class="mr-5 hover:text-gray-900 font-semibold">About</a>
                <a href='/contact' class="mr-5 hover:text-gray-900 font-semibold">Contact</a>
            </nav>

        </div>
    </header>

    <main class="container mx-auto mt-8 text-center">
        <h1 class="custom-heading mb-4">Linguistic Treasures Await: Delve into Definitions</h1>
        <h1>
            <p class="text-lg font-semibold font-mono italic text-black mb-8">{ {{ quote }} }</p>
        </h1>
        <h3>
            <p class="text-lg  italic text-gray-700 mb-8">
                Meaning: {{meaning}}
            </p>
        </h3>
        <a href="/search"
            class="inline-block bg-purple-600 hover:bg-purple-700 text-white py-3 px-6 rounded-lg font-semibold tracking-wide">
            Search a word</a>
    </main>

    <section class="bg-gray-200 py-12">
        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-extrabold mb-4">Word of the Day</h2>
            <p class="text-gray-700 mb-8">Expand your vocabulary with our daily featured word.</p>
            <div class="bg-white p-6 rounded-lg shadow-xl">
                <h3 class="text-4xl font-semibold mb-2">{ {{ word.capitalize() }} }</h3>
                <p class="text-gray-700 text-xl italic">{{ definition }}</p>
            </div>
        </div>
    </section>

    <footer class=" bottom-0  bg-gray-900 text-white py-6 w-full">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Coder. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>