<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDefine</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    </style>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .custom-heading {
            font-size: 41px !important;
            font-family: "MongoDB Value Serif", monospace;
        }
    </style>
</head>

<body class="bg-purple-100">

    <header class="text-gray-600 body-font">
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
            <a href='/' class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0">

                <span class="ml-3 text-5xl font-semibold text-purple-700">JustDefine</span>
            </a>
            <nav
                class="flex flex-wrap items-center justify-center text-base md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400">
                <a href='/' class="mr-5 font-semibold hover:text-gray-900 ">Home</a>
                <a href='/about' class="mr-5 font-semibold hover:text-gray-900">About</a>
                <a href='/contact' class="mr-5 font-semibold hover:text-gray-900">Contact</a>
            </nav>

        </div>
    </header>

    <main class="container mx-auto mt-8 text-center">
        <h1 class="mb-4 custom-heading">Linguistic Treasures Await: Delve into Definitions</h1>
        <h1>
            <p class="mb-8 font-mono text-lg italic font-semibold text-black">{ {{ quote }} }</p>
        </h1>
        <h3>
            <p class="mb-8 text-lg italic text-gray-700">
                Meaning: {{meaning}}
            </p>
        </h3>
        <a href="/search"
            class="inline-block px-6 py-3 font-semibold tracking-wide text-white bg-purple-600 rounded-lg hover:bg-purple-700">
            Search a word</a>
    </main>

    <section class="min-h-screen py-12 bg-rose-300 mt-28">
        <div class="container mx-auto text-center">
            <h2 class="mb-4 text-4xl font-extrabold">Word of the Day</h2>
            <p class="mb-8 text-gray-700">Expand your vocabulary with our daily featured word.</p>
            <div class="p-6 bg-white rounded-lg shadow-xl">
                <h3 class="mb-2 text-4xl font-semibold">{ {{ word.capitalize() }} }</h3>
                <p class="text-xl italic text-gray-700">{{ definition }}</p>
            </div>
        </div>
    </section>


    <footer class="bottom-0 w-full py-6 text-white bg-gray-900">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Coder. All rights reserved.</p>
        </div>
    </footer>
    </div>


</body>

</html>