<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary Search</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    </style>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .custom-heading {
            font-size: 56px !important;
            font-family: "MongoDB Value Serif", monospace;
        }
    </style>
</head>

<body class="bg-purple-100 flex flex-col min-h-screen">

    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href='/' class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

                <span class="ml-3 font-semibold text-purple-700 text-5xl">JustDefine</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
                <a href='/' class="mr-5 hover:text-gray-900 font-semibold ">Home</a>
                <a href='/about' class="mr-5 hover:text-gray-900 font-semibold">About</a>
                <a href='/contact' class="mr-5 hover:text-gray-900 font-semibold">Contact</a>
            </nav>

        </div>
    </header>

    <main class="container mx-auto mt-8 flex-grow text-center">
        <h1 class="custom-heading mb-4">Search for a Word</h1>
        <p class="text-lg text-gray-700 mb-8">Enter the word you'd like to search for in the dictionary.</p>
        <form class="flex flex-col items-center p-4" action="/search" method="POST">
            <input type="text" name="word"
                class="w-2/3 p-2 shadow-xl rounded-lg border border-purple-300 focus:outline-none focus:border-purple-500 mb-4"
                placeholder="Enter a word">
            <button type="submit"
                class="bg-purple-600 shadow-2xl hover:bg-purple-700 text-white py-2 px-4 rounded-lg font-semibold my-10">Search</button>
        </form>
    </main>

    <footer class="bg-gray-900 text-white py-6">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Coder. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>